ul.flashes {
  padding-left: 0;
  li {
    list-style: none;
    padding: .5em;
    margin: .2em 0;
    border: 2px solid darkslategray;
    border-radius: 5px;
    background-color: rgba(128, 61, 68, .1)
  }
  li.error{
    border: 2px solid #803D44;
    background-color: rgba(0,0,0, .1)
  }
  li.notice{
    border-color: #49AEC0;
    background-color: rgba(73,174,192, .1)
  }

}