.content {
  max-width: 980px;
  overflow: hidden;
  margin: 0 auto;
}

main {
  min-height: 500px;
  padding: 1em 0;
}

footer {
  background-color: #FFF0CF;
  width:100%;
  position:absolute;
  bottom:0;
}